body {
    background-color: lightgray;
}

.container {
    margin: 10em auto;
    border-radius: 0.4rem;
    padding: 1rem;
    width: 20rem;
    border: solid black;
    box-shadow: 3px 3px 10px;
    background-color: rgb(211, 132, 211);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8%;
    height: 3rem;
    border-radius: 0.4rem;
    font-size: 200%;
    border: solid black;
    user-select: none;
    box-shadow: 1px 1px 3px;
    background-color: rgb(255, 176, 255);
}

.item:active {
    background-color: white
}

.display {
    display: grid;
    height: 8em;
    border-radius: 0.4rem;
    border: solid black;
    text-align: center;
    margin: 3%;
    padding: 0px 10px;
    box-shadow: 1px 1px 3px;
    background-color: white;
}

.screen {
    color: rgb(255, 142, 160);
    font-size: 250%;
    user-select: none;
    display: flex;
    justify-content: end;
    padding: 10px 5px;
    transform: translateY(-3px);
}