.container {
    margin: 4em auto;
    background-color: aqua;
    border-radius: 0.4rem;
    padding: 1rem;
    max-width: 30rem;
    border: solid black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    display: flex;
    background-color: blue;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    height: 5rem;
    border-radius: 0.4rem;
    font-size: 250%;
    border: solid black;
    user-select: none;
}

.item:active {
    background-color: blueviolet;
}

.display {
    display: grid;
    height: 10em;
    background-color: crimson;
    margin: 5%;
    border-radius: 0.4rem;
    justify-content: end;
    align-items: center;
    border: solid black;
    text-align: center;
}

.screen {
    color: white;
    font-size: 250%;
    user-select: none;
}

.input {
    border: solid;
}
.output {
    border: solid;
}